<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú - El Claustro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<h1>🍽️ Menú del Restaurante El Claustro</h1>

<div class="productos">
    {% for p in productos %}
    <div class="card">
        <h2>{{ p.nombre }}</h2>
        <p>{{ p.descripcion }}</p>
        <p><strong>${{ p.precio }}</strong></p>
        <a href="{% url 'agregar' p.id %}">Agregar</a>
    </div>
    {% endfor %}
</div>

<a href="{% url 'carrito' %}">🛒 Ver carrito</a>

</body>
</html>
