.form-group {
    margin-bottom: 15px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1 {
    margin-bottom: 25px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.container {
    max-width: 600px;
    margin-top: 30px;
}
